* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    /* background-color: yellow; */
}

#sidebar {
    width: 200px;
    height: 1200px;
    background-color: #290bbd;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}

.fas {
    margin-bottom: 20px;
    align-self: center;
}

#abt-content{
    width: 100px;
    /* background-color: pink; */
    align-self: center;
}

#neaty{
    align-self: center;
}

#para1{
    font-size: 16x;
}

#main-content{
    /* background-color: aquamarine; */
    height: 900px;
    width: 1500px;
}

#fruits{
    height: 500px;
    width: 1400px;
}

#heading-para{

}

.abt-team{
    /* background-color: blueviolet; */
    display: flex;
    width: 1500px;
}


.teamdiv{
    height: 310px;
    width: 1100px;
    /* background-color: cyan; */
}

#imgteam{
    width: 250px;
    height: 250px;
}

#readmore{
    margin-top: 10px;
    padding: 5px;
    text-decoration: none;
    color: white;
    border: 1px solid blue;
    text-align: center;
    height: 30px;
    width: 130px;
    background-color: blue;
    border-radius: 5px;
    box-shadow: 2px 2px #cbcbe2;
}

.gallery{
    height: 100px;
    width: 1400px;
    /* background-color: rgb(150, 156, 158); */
}
